<div class="portfolio-modal modal fade" id=<%="portfolioModal#{puppy.id}"%> tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2><%= puppy.name %></h2>
                            <%= image_tag attachment_url(puppy, :image, :fill, 800, 800, format: "jpg"), class: 'img-responsive img-centered' %>
                            <ul class="list-unstyled puppy-info">
                                <li><strong>Birthdate: </strong><%= puppy.dob %></li>
                                <li><strong>Coloring:</strong> <%= puppy.color %></li>
                                <li><strong>Status:</strong> <%= puppy.status %></li>
                                <li><strong>Description:</strong> <%= puppy.description %></li>
                            </ul>
                            <% if puppy.dam %>
                              <h3 class="pink-text">Dam: <%= puppy.dam.name %></h3>
                              <%= image_tag attachment_url(puppy.dam, :image, :fill, 400, 400, format: "jpg"), class: 'img-responsive img-centered' %>
                              <h5><%= puppy.dam.description %></h5>
                            <% end %>
                            <% if puppy.sire %>
                              <h3 class="blue-text">Sire: <%= puppy.sire.name %></h3>
                              <%= image_tag attachment_url(puppy.sire, :image, :fill, 400, 400, format: "jpg"), class: 'img-responsive img-centered' %>
                              <h5><%= puppy.sire.description %></h5>
                            <% end %>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
