<div class="portfolio-modal modal fade" id=<%="portfolioModal#{puppy.id}"%> tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2><%= puppy.name %></h2>
                            <%= image_tag attachment_url(puppy, :image, :fill, 800, 800, format: "jpg"), class: 'img-responsive img-centered' %>
                            <p><%= puppy.description %></p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li><%= puppy.dob %></li>
                                <li><%= puppy.color %></li>
                                <li><%= puppy.status %></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
