<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Morning Star Nursery</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if current_admin %>
                    <li>
                        <%= link_to 'New Sire', new_sire_path, class:'page-scroll' %>
                    </li>
                    <li>
                        <%= link_to 'New Dam', new_dam_path, class:'page-scroll' %>
                    </li>
                    <li>
                        <a class="page-scroll" href="/puppies/new">New Puppy</a>
                    </li>
                    <li>
                        <%= link_to 'New Person', new_family_member_path, class:'page-scroll' %>
                    </li>
                    <li>
                        <a class="page-scroll" href="/logout">Logout</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Welcome <%= current_admin.username %></a>
                    </li>
                    <% else %>
                    <li>
                        <a class="page-scroll" href="#our_beliefs">Distinctives</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Puppies</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">History</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#our_family">Family</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid-fluid-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Morning Star Nursery</div>
                <div class="intro-heading">Since 2008</div>
                <a href="#our_beliefs" class="page-scroll btn-xl btn">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="our_beliefs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Distinctives</h2>
                    <h3 class="section-subheading text-muted">Why Choose Morning Star?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-danger"></i>
                        <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Love</h4>
                    <p class="text-muted">We are a small family-run nursery in Rochester, NY. Our two females, Minnie and Korra (both parti-brindles), are our pets. Our puppies are raised in a loving environment with positive socialization. Your puppy will take a “momma-scented” cloth home to ease its transition.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                        <i class="fa fa-star-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Excellence</h4>
                    <p class="text-muted">Our puppy line has over 44 champions and is exceptional in health, temperament, and snuggle-ability. They have excellent bites, legs, eyes, noses. None of our dogs have ever had a lasting health issue. The sire, Atticus, hails from Alfred, NY and is owned by Palmers Puppies. They have recently retired their website, but we are delighted to have had a wonderful relationship with their nursery. The line is on the smaller end of standard.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Support</h4>
                    <p class="text-muted">“When you receive one of our puppies, you receive our support. Our AKC puppies come to you with first shots, worming treatment (routine), vet papers, health guarantee, and we are always just a phone call away to help you with any questions. We work closely with our veterinarian and have relationships with other breeders who combined provide decades of experience.</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-midnight">Available Puppies</h2>
                </div>
            </div>
            <div class="row">
              <%= render @puppies %>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-midnight"><%= link_to 'Pictures Of Past Puppies', '/past_puppies' %></h2>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                    <h3 class="section-subheading text-muted">Morning Star Nursery's Journey</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "scan124.jpg", class: "img-responsive img-circle"%>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>08/15/1987</h4>
                                    <h4 class="subheading">Fasoldt Family Established</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hard to believe it's been nearly 30 years!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag "scan13.jpg", class: "img-responsive img-circle"%>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000</h4>
                                    <h4 class="subheading">Faith is born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The youngest of five!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "baby_minnie.JPG", class: "img-responsive img-circle"%>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008</h4>
                                    <h4 class="subheading">Minnie is born.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag "first_litter.JPG", class: "img-responsive img-circle"%>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010</h4>
                                    <h4 class="subheading">Minnie's first litter!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Minnie would give birth to six more litters and be the proud parent of 34 puppies!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <%= image_tag "Zeus_born.JPG", class: "img-responsive img-circle"%>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012, 2013</h4>
                                    <h4 class="subheading">Korra and then Zeus are born.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We loved Korra and Zeus so much that we couldn't give them up!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-midnight">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-white">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">The Sire And Dams</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "Zeus.JPG", class: "img-responsive img-circle dog-img"%>
                        <h4 class="text-white">Zeus</h4>
                        <p class="text-muted">Zeus, our own solid liver stud, lives with a delightful family of 5 boys. He fits right in there and gets a lot of attention, care and love. He is very smart and obedient. (Stud service--$500)</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "korra.JPG", class: "img-responsive img-circle dog-img"%>
                        <h4 class="text-white">Korra</h4>
                        <p class="text-muted">Korra, our Momma Dam is a lively, fun Momma, who plays lovingly and cares for each puppy.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "107.JPG", class: "img-responsive img-circle dog-img"%>
                        <h4 class="text-white">Minnie</h4>
                        <p class="text-muted">Minnie is the Grandma Dam, and she is retired. However, she is still very involved, since caring for puppies is her life calling. Nothing makes her happier than nurturing and watching over her grandpuppies.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <section id="our_family" class="clients">
        <div class="container-fluid">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Our Family</h2>
          </div>
            <div class="row">
              <% @family_members.each do |family_member| %>
                <%= render partial: "family_member", locals: {family_member: family_member} %>
              <% end %>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Have Questions? Contact Us!</h2>
                    <h3 class="section-subheading text-muted">We value hearing from you.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <% if flash[:alert] %>
                    <div class="alert"><%= flash[:alert] %></div>
                  <% elsif flash[:notice] %>
                    <div class="notice"><%= flash[:notice] %></div>
                  <% end %>
                  <%= form_for @contact, :html=> {:id => 'custom_form_id'} do |f| %>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <%= f.text_field :name, class: 'form-control', placeholder:'Your Name *' %>
                            </div>
                            <div class="form-group">
                              <%= f.text_field :email, class: 'form-control', placeholder:'Your Email *' %>
                            </div>
                            <div class="form-group">
                              <%= f.text_field :phone, class: 'form-control', placeholder:'Your Phone *' %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <%= f.text_area :message, class: 'form-control', placeholder:'Your Message *' %>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center">
                          <%= f.submit 'Send', class: 'btn-xl btn'%>
                        </div>

                        <% end %>
                    </div>
                </div>
            </div>
          </div>
    </section>

    <footer class="map_banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Morning Star Nursey 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                          <% unless current_admin %>
                            <a href="/login_form">Admin</a>
                          <% else %>
                            <a href="/logout">Logout</a>
                            <%= link_to "All Puppies", puppies_path, class: "spacer" %>
                            <%= link_to "All Sires", sires_path, class: "spacer" %>
                            <%= link_to "All Dams", dams_path, class: "spacer" %>
                          <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <% @puppies.each do |puppy| %>
      <%= render partial: "puppy_modal", locals: {puppy: puppy} %>
    <% end %>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>
